body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('../static/img/onlyrecipe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.cards-header {
    background-color: rgba(248, 249, 250, 0.8);
    padding: 20px 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    color: #ffa500;
}

header .button {
    background-color: #f57c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

header .button:hover {
    background-color: #ef6c00;
}

main {
    margin: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 1% 1% 1%;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.status,
.category,
.username,
.ingredients-text {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.comments_btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.comments_btn:hover {
    background-color: #0056b3;
}

.comments-section {
    display: none;
}

.comment-card {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.comment-card h6 {
    font-weight: bold;
}

.comment-card p {
    margin: 5px 0;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="button"] {
    background-color: #f57c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #ef6c00;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    header {
        padding: 10px 20px;
    }

    main {
        margin: 10px;
        padding: 10px;
    }

    .card {
        padding: 10px;
    }
}