<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Example</title>
    <link rel="stylesheet" href="../static/css/header.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <h1 class="title">OnlyRecipe's</h1>
            <div class="actions">
                <button class="button" onclick="location.href='{{ url_for('auth.account') }}'">My Account</button>
                <button class="button" id="request-btn">Request a Recipe</button>
            </div>
        </div>
    </header>
    <form class="search" action="{{ url_for('auth.search') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="container">
                {{ form.recipe_category.label(class="search-label") }}
                {{ form.recipe_category(class="category-select") }}

                {{ form.search_input.label(class="search-label") }}
                {{ form.search_input(class="search-input") }}

                {{ form.submit(class="search-button") }}
        </div>
    </form>
</body>
</html>
